* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Principal Home */
.home {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/fondo-largo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  position: fixed;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.navbar img {
  margin: 0 20px;
}
.navbar ul {
  display: flex;
  margin-right: 30px;
}
.navbar ul li {
  margin: 5px;
}
.navbar ul li a {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 2rem;
  color: rgb(230, 0, 107);
  transition: all 0.3s ease;
}
.navbar ul li a:hover {
  background-color: rgb(230, 0, 107);
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 15px;
}
.contenedor {
  width: 100%;
  height: 100%;
}
/* .texto img {
  margin-bottom: 50px;
} */
.texto {
  color: #fff;
  font-weight: bold;
  padding: 30px;
}
.texto h1 {
  color: rgb(230, 0, 107);
  font-size: 5rem;
  margin-top: 0;
}
.texto h2 {
  font-size: 2rem;
  margin-top: 10px;
  padding: 10px;
  /* border: 2px solid black; */
}
.texto p {
  padding: 10px;
  /* border: 2px solid black; */
  font-size: 1.2rem;
}
@media only screen and (min-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .texto {
    height: 600px;
    width: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel {
    margin-left: 50px;
  }
}

/* Carrousel */

.carousel {
  display: flex;
  position: relative;
  width: 350px;
  height: 230px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 5px 30px;
}
.carousel ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.carousel ul li {
  float: left;
  width: 33.333%;
  height: 100%;
}
.carousel ul li img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  z-index: 2;
}
.carousel-prev {
  left: 10px;
}
.carousel-next {
  right: 10px;
}
@media only screen and (min-width: 1500px) {
  .carousel {
    width: 800px;
    height: 600px;
  }
}
@media only screen and (max-width: 1100px) {
  .contenedor.home {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    min-height: 800px;
  }
  .texto h1 {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px){
  .carousel {
    width: 600px;
    height: 450px;
  }
  .texto h1 {
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .carousel {
    margin: 0 auto;
  }
}