* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}

/* Utilidades */

nav.active {
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: all .1s ease;
  padding: 5px 0;
}
nav.active ul li a {
  color: black;
}
nav.active ul li a:hover {
  color: rgb(230, 0, 107);
  background-color: transparent;
  border-bottom: 2px solid rgb(230, 0, 107);
}
.container {
  margin: 30px 10rem;
}
.subtitulo {
  font-size: 2.5rem;
  margin: 20px 0;
  font-family: 'PT Sans', sans-serif;
}
.ocultar {
  display: none;
}
.boton-act{
  background-color: rgb(230, 0, 107);
}
/* Principal Home */
.home {
  width: auto;
  height: 100vh;
  background-image: url(../img/fondo-largo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-reduciodo {
  display: none;
}
.menu-hamburguesa{
  display: flex;
  flex-direction: column;
}
.nav-reduciodo ul{
  display: block;
  width: 100%;
  height: 25px;
  text-align: center;  
}
.navbar {
  position: fixed;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: none;
  justify-content: space-between;
  z-index: 3;
  transition: all .2s ease;
}
.navbar img {
  margin: 0 20px;
}
.navbar ul {
  display: flex;
  margin-right: 30px;
}
.navbar ul li {
  margin: 5px;
}
.navbar ul li a {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 2rem;
  color: rgb(230, 0, 107);
  transition: all 0.3s ease;
}
.navbar ul li a:hover {
  background-color: rgb(230, 0, 107);
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 15px;
}
.contenedor {
  width: 100%;
  height: 100%;
}
#texto {
  width: 100%;
  height: 20px;
}
.texto {
  color: #fff;
  font-weight: bold;
  padding: 30px;
}
.texto h1 {
  color: rgb(230, 0, 107);
  font-size: 5rem;
  margin-top: 0;
}
.texto h2 {
  font-size: 2rem;
  margin-top: 10px;
  padding: 10px;
  /* border: 2px solid black; */
}
.texto p {
  padding: 10px;
  /* border: 2px solid black; */
  font-size: 1.2rem;
}
@media only screen and (max-width: 1160px) {
  .home {
    min-height: 900px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .contenedor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .texto {
    height: 600px;
    width: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Carrousel */
.carousel {
  display: flex;
  position: relative;
  width: 350px;
  height: 230px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 5px 30px;
  padding-bottom: 30px;
}
.carousel ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.carousel ul li {
  float: left;
  width: 33.333%;
  height: 100%;
}
.carousel ul li img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  z-index: 2;
}
.carousel-prev {
  left: 10px;
}
.carousel-next {
  right: 10px;
}
@media only screen and (max-width: 1160px) {
  .contenedor.contenedor-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    min-height: 900px;
    position: absolute;
    top: -40px;
  }
  .carousel {
    position: relative;
    top: -60px;
  }
  .texto h1 {
    margin-top: 30px;
    margin-bottom: 0;

  }
}
@media only screen and (min-width: 768px){
  .carousel {
    width: 580px;
    height: 400px;
    margin-right: 20px;
  }
  .texto {
    width: 600px;
  }
  .texto h1 {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1560px) {
  .carousel {
    width: 700px;
    height: 550px;
  }
  .texto h1 {
    font-size: 7rem;
  }
  .texto h2 {
    font-size: 2.8rem;
  }
  .texto p {
    font-size: 1.8rem;
  }
}

/* Segmento */

.segmento {
  height: 400px;
  width: auto;
}
.segmento h2, .segmento p{
  color: rgb(0, 0, 0);
}
.varios-productos {
  display: flex;
  justify-content: space-around;
  background-color: rgb(156, 255, 75);
  align-items: center;
  border-radius: 15px 15px 0 0;
  border: 2px solid silver;
}
.varios-productos a{
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.varios-productos a:hover{
  background-color: rgba(228, 48, 132, 0.87);
}
.varios-productos a:first-child:hover{
  border-radius: 15px 0 0 0;
}
.varios-productos a:last-child:hover{
  border-radius: 0 15px 0 0;
}
.detalle-producto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 6fr;
  grid-template-areas: 
  "img text1 text1"
  "img info-producto info-producto"
  "img text text";
  border: 2px solid silver;
  border-radius: 0 0 15px 15px;
  justify-content: center;
}
.detalle-producto img {
  grid-row-start: img;
  grid-row-end: img;
  height: 400px;
  margin: 0 auto;
  border-radius: 0 0 0 15px;
  border-right: 2px solid silver;
}
.detalle-producto h3 {
  grid-column-start: text1;
  grid-column-end: text1;
  margin: auto;
  text-align: center;
}
.detalle-producto nav {
  display: flex;
  justify-content: space-aroundgit status;
  align-items: center;
  grid-row-start: info-producto;
  grid-row-end: info-producto;
  grid-column-start: info-producto;
  grid-column-end: info-producto;
}
.detalle-producto nav a{
  
  color: black;
}
.detalle-producto div p {
  display: none;
  padding: 20px;
  grid-column-start: text;
  grid-column-end: text;
  grid-row-start: text;
  grid-row-end: text;
}